body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

h1{

    font-size: 60px;
    font-weight: 700;
    color: #676767;
    
    
}

.red-color{
    color: #EB6076;
}

p{

    
    line-height: 30px;
    width: 80%;
    font-weight : 400;
    color: #828282;
    margin-bottom: 60px;
}

.click-link{
    
    background-image:linear-gradient(to right, #EB6076, red);
    color: white;
    text-decoration: none;
    padding: 20px 35px 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px 1px #fca39d;
    
}

.floating-part{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 3%;
    padding-top: 7%;
}

.top-pic{
    width: 97%;
}

.half-width h1{
    padding-top: 15%;
    
}

.about-background{
    background-image: url(images/Frame.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.about-pic{
    width: 54%;
    padding-left: 20%;
}

h2{
    font-size: 50px;
    font-weight: 700;
    color: #676767;
}
