body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-size: 60px;
    font-weight: 700;
    
}

.red-color{
    color: #EB6076;
}

p{

    font-weight : 400;
    color: #828282;
    margin-bottom: 45px;
}

.click-link{
    background-image:linear-gradient(to right, #EB6076, red);
    color: white;
    text-decoration: none;
    padding: 15px 35px 15px;
    border-radius: 25px;
    box-shadow: 0 0 15px 1px #fca39d;
    
}

.floating-part{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 5%;
}

.half-width img{
    width: 80%;
}